@font-face {
    font-family: 'Tex Gyre Heros';
    src: url(texgyreheros-regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tex Gyre Heros';
    src: url(texgyreheros-italic.woff) format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Tex Gyre Heros';
    src: url(texgyreheros-bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Tex Gyre Heros';
    src: url(texgyreheros-bolditalic.woff) format('woff');
    font-weight: bold;
    font-style: italic;
}

